<div class="about-top">
  <div class="about-main">
    <div class="container">
      <div class="row about-main-container">
        <div class="about-catch-fream">
          <h1 class="about-title">「ロスペロリとは」</h1>
          <p class="about-content">
            年間 2,550 万トンもの食品廃棄の中で本来食べられるのに<br>
            廃棄されている食品、いわゆる「食品ロス」が<br>
            612 万トンもあると言われています。<br>
            さらに、追い打ちをかけるようにコロナウイルスによる<br>
            飲食業界の経営自粛などで、「食品ロス」が拡大していると思われます。<br>
            そんな状況を少しでも解決するべく「食品ロスをゼロにする」<br>
            を目的とするロスペロリを開発しました。<br>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
