<div class="top">
  <%= render 'home_top_main' %>
  <div class="new_information">
    <p>新着情報</p>
    <div class="row">
      <%= render 'home_product_content', products: @products %>
    </div>
  </div>
</div>
