<div class="user-view">
  <div class="user-view-box">
    <div class="update-content">
      <div class="row">
        <h5><%= user.username%>さん、</h5>
      </div>
    </div>
    <div class="update-content">
      <div class="row total-kg-container">
        <div class="total-kg">
          <div class="total-kg">
            食品廃棄を<%= purchase_total_weight(current_user) %>kg削減達成！🎉
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
