<% provide(:title, "プロフィール変更") %>
<div class="user">
  <div class="row">
    <!-- LIGHT HEADER SECTION -->
    <%= render 'edit_light_header' %>
    <div class="user-profile-container">
      <div class="user-view">
        <div class="user-view-box">
          <div class="update-content">
            <div class="row">
              <h5>プロフィール</h5>
            </div>
          </div>
          <!-- PROFILE EDIT FORM SECTION -->
          <%= render 'user_edit_form', user: @user %>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="//jpostal-1006.appspot.com/jquery.jpostal.js"></script>
