<% provide(:title, @user.username) %>
<div class="container user">
  <div class="row">
    <!-- LIGHT HEADER SECTION -->
    <%= render 'show_light_header' %>
    <div class="user-profile-container">
      <!-- USER INFORMATION SECTION -->
      <%= render 'user_status', user: @user %>
      <%= render 'user_profile', user: @user%>
      <%= render 'user_account', user: @user %>
    </div>
  </div>
</div>
