<% provide(:title, "購入履歴") %>
<div class="purchase_index_container">
  <%= render 'index_light_header' %>
  <div class="row">
    <table>
      <thead>
        <tr>
          <th class="delete-content">商品画像</th>
          <th>商品名</th>
          <th class="delete-content">商品について</th>
          <th>金額</th>
          <th class="delete-content">削減重量</th>
          <th>購入日</th>
        </tr>
      </thead>
      <tbody id="product_lists">
        <%= render 'purchase_index' %>
      </tbody>
    </table>
    <div class="more">
      <%= link_to_next_page @purchases, 'もっと見る', remote: true, id: 'view_more', class: "view_more_btn" %>
    </div>
  </div>
</div>
