<% provide(:title, "確認") %>
<div class="inquiry">
  <div class="row">
    <div class="inquiry-profile-container">
      <div class="inquiry-view">
        <div class="inquiry-view-box">
          <div class="update-content">
            <div class="row">
              <h5>お問い合わせ</h5>
            </div>
          </div>
          <%= render 'inquiry_confirm_form', inquiry: @inquiry %>
        </div>
      </div>
    </div>
  </div>
</div>
