<% provide(:title, "送信完了") %>
<div class="inquiry">
  <div class="row">
    <div class="inquiry-profile-container">
      <div class="inquiry-view">
        <div class="inquiry-view-box">
          <div class="update-content">
            <div class="row">
              <h5>お問い合わせ</h5>
            </div>
          </div>
          <div class="update-content">
            <div class="row">
              <p class="col-md-12 inquiry-label">お問い合わせの内容を送信しました。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
