.inquiry {
  width: 100%;
  .inquiry-profile-container {
    width: 100%;
    .inquiry-view {
      max-width: 700px;
      background-color: #f6f8f9;
      border-top: 5px solid #bf0000;
      margin: 30px auto;
      .inquiry-view-box {
        max-width: 100%;
        background-color: #fff;
        border: 1px solid #eaedef;
        box-shadow: #13131b26 1px 2px 4px 1px;
        .update-content {
          border-bottom: 1px solid #eaedef;
          padding: 20px;
          margin: 0 10px;
          font-size: 16px;
          .inquiry-label {
            margin: auto 0;
          }
          .inquiry_text {
            height: 200px;
          }
          .message-content {
            word-wrap: break-word;
          }
          .inquiry-btn {
            margin: 0;
          }
        }
      }
    }
  }
}

// thanksページ
.inquiry-comment {
  font-size: 20px;
}
