.product {
  width: 100%;
  .product-profile-container {
    width: 100%;
    .product-view {
      width: 700px;
      background-color: #f6f8f9;
      border-top: 5px solid #bf0000;
      margin: 30px auto;
      .user-view-box {
        max-width: 100%;
        background-color: #fff;
        border: 1px solid #eaedef;
        box-shadow: #13131b26 1px 2px 4px 1px;
        .update-content {
          border-bottom: 1px solid #eaedef;
          padding: 20px;
          margin: 0 10px;
          font-size: 16px;
          .product-label {
            margin: auto 0;
          }
          .product-btn {
            margin: 0;
          }
        }
      }
    }
  }
}

// 一覧ページ
.product_index {
  width: 100%;
  padding: 0 60px 20px;
  background-color: #f1f1f1;
  .product-frame-inner {
    margin-bottom: 10px;
    a {
      color: #000;
      .product-image-out {
        width: 100%;
        background: #f6f8f9;
        height: 200px;
        .product-image {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .product-profile {
        width: 100%;
        padding: 15px;
        p {
          word-break: break-all;
        }
        .product-profile-name {
          font-size: 14px;
        }
        .product-user-name {
          font-size: 14px;
          text-align: right;
        }
        .product-profile-price {
          text-align: right;
          font-size: 22px;
          font-weight: bold;
          letter-spacing: 1px;
          color: #d01027;
        }
      }
    }
  }
}
