.top {
  .top-main {
    background-image: url("/assets/home-image.jpg");
    background-size: cover;
    width: 100%;
    height: 600px;
    .top-main-container {
      height: 100%;
      .top-catch-fream {
        height: 600px;
        width: 100%;
        align-items: center;
        position: relative;
        .top-catch-area {
          position: absolute;
          left: 50%;
          bottom: 15%;
          transform: translateX(-50%);
          width: 50%;
          padding: 20px 30px;
          text-align: center;
          margin: 0 auto;
          background: rgba(255, 255, 255, 0.95);
          border-radius: 30px;
          .btn-first {
            margin-top: 20px;
            background-color: rgba(185, 185, 185, 0.5);
          }
          .form-control {
            width: 100%;
          }
        }
      }
    }
  }
  .new_information {
    margin: 100px 50px 0;
    p {
      font-size: 24px;
    }
    .product-frame-inner {
      margin-bottom: 10px;
      a {
        color: #000;
        .product-image-out {
          width: 100%;
          background: #f6f8f9;
          height: 200px;
          .product-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .product-profile {
          width: 100%;
          padding: 15px;
          p {
            word-break: break-all;
          }
          .product-profile-name {
            font-size: 14px;
          }
          .product-user-name {
            font-size: 14px;
            text-align: right;
          }
          .product-profile-price {
            text-align: right;
            font-size: 22px;
            font-weight: bold;
            letter-spacing: 1px;
            color: #d01027;
          }
        }
      }
    }
  }
}
