<p><%= @resource.email %>様、</p>
<p>パスワードの変更が要求されました。添付のリンクよりアクセスしてパスワード変更を完了させてください。</p>
<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>もしも本メールに見に覚えがない場合は、破棄してください。</p>
<p>上記リンクにアクセスし、新しいパスワードを入力するまで変更されません。</p>
