<% provide(:title, "検索結果一覧") %>
<div class="product_index">
  <div class="row">
    <!-- LIGHT HEADER SECTION -->
    <%= render 'product_index_light_header' %>
    <% if @products.count == 0 %>
      <div class="empty_product">
        <p>検索結果:0</p>
      </div>
    <% else %>
      <div id="product_lists" class="row">
        <%= render 'product_content' %>
      </div>
      <div class="more">
        <%= link_to_next_page @products, 'もっと見る', remote: true, id: 'view_more', class: "view_more_btn" %>
      </div>
    <% end %>
  </div>
</div>
