<% provide(:title, @product.product_name) %>
<div class="product_index">
  <div class="row">
    <!-- LIGHT HEADER SECTION -->
    <%= render 'product_index_light_header' product: @product%>
  </div>
</div>
