<footer class="footer">
  <div class="footer_container">
    <p>© <%= Time.current.year %> LossPerori.INC.</p>
    <%= link_to image_tag("1_Primary_logo_on_transparent_280x67.png", alt: "サイトロゴ", class: "site_footer_logo"), root_path%>
  </div>
</footer>
